
.idea/
*.iws
*.class

/out/

.idea_modules/

# JIRA plugin
atlassian-ide-plugin.xml

fabric.properties

*.iml
modules.xml
.idea/misc.xml
*.ipr

### Maven ###
target/
pom.xml.tag
pom.xml.releaseBackup
pom.xml.versionsBackup
pom.xml.next
release.properties
dependency-reduced-pom.xml
buildNumber.properties
.mvn/timing.properties

# Exclude maven wrapper
!/.mvn/wrapper/maven-wrapper.jar

### Eclipse ###

.metadata
bin/
tmp/
*.tmp
*.bak
*.swp
*~.nib
local.properties
.settings/
.loadpath
.recommenders


*.launch
.classpath
.factorypath
.buildpath
.target

.DS_Store
._.*

*.war
*.ear
